.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
  z-index: 1;
  transition: color 4s ease-in-out, opacity 4s ease-in-out;
}

.feynman__link:hover {
  color: #062d5f;
  cursor: pointer;
  opacity: 30%;
}
